* {
  transition: all 0.3s ease-in-out;
}
:root {
  font-size: clamp(16px, 2.5vw, 18px);
  --color-std: rgb(134, 138, 138);
}
#root {
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 96vw;
}
.app > header {
  border-bottom: 1px solid lightgray;
  .container {
    display: flex;
    justify-content: flex-start;
    height: 3.4rem;
    padding: 0.5rem 0rem;
  }
}
.banner {
  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  dd {
    padding: 2rem;
    display: block;
    h3 {
      font-weight: 600;
      font-size: 1.3rem;
    }
    p {
      color: var(--color-std);
      padding-top: 2rem;
      line-height: 1.5rem;
      font-size: 0.9rem;
    }
  }
}

main {
  background-color: #f3f5f5;
  position: relative;
  .categories {
    background-color: #f3f5f5;
    padding: 1rem 1rem;
    h2 {
      font-size: 1.3rem;
      font-weight: 600;
      margin-bottom: 1rem;
      margin-top: 0rem;
    }
    .categorie {
      margin-bottom: 1.5rem;
      .listRestoCards {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .restoCard {
          background-color: white;
          border-radius: 5px;
          display: flex;
          padding: 20px;
          justify-content: space-between;
          header {
            font-size: 1rem;
            padding-bottom: 1rem;
            font-weight: 300;
          }
          cursor: pointer;
          .desc {
            color: var(--color-std);
            max-height: 50px;
            font-size: 0.9rem;
            overflow: hidden;
            line-height: 1.5rem;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          }
          footer {
            display: flex;
            color: var(--color-std);
            align-items: flex-end;
            gap: 0.4rem;
            height: 2rem;
            .price {
              width: 4rem;
              display: flex;
              align-items: center;
            }
            .pop {
              color: orange;
              display: flex;
              align-items: center;
              gap: 5px;
              svg {
                height: 0.8rem;
              }
            }
          }
          img {
            width: 130px;
            height: 130px;
            object-fit: cover;
            border-radius: 5px;
          }
        }
        .restoCard:hover {
          box-shadow: rgba(46, 51, 51, 0.07) 0px 22px 24px 0px;
        }
      }
    }
  }
  .basket {
    position: sticky;
    bottom: 0px;
    .bottomMsg {
      box-shadow: 0 0 5px lightgray;
      height: 85px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.8rem 1rem;
      background-color: white;
      p {
        background-color: #d3d3d3;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        padding: 1rem 0;
        border-radius: 5px;
        font-size: 0.8rem;
        font-weight: 600;
      }
    }
    .panel {
      display: none;
    }
  }
}

@media (width > 768px) {
  main .container {
    display: flex;
    padding-top: 2rem;
    gap: 30px;
    .basket {
      min-width: 350px;
      margin-right: 1rem;
      .bottomMsg {
        display: none;
      }
      .panel {
        position: sticky;
        top: 20px;
        display: block;
        background-color: white;
        padding: 5px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        box-shadow: rgba(46, 51, 51, 0.07) 0px 22px 24px 0px;
        color: var(--color-std);
        .validate {
          background-color: #bac3c3;
          border-radius: 5px;
          color: #8b9a9b;
          padding: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .validate.withitems {
          background-color: #00cdbd;
          color: white;
        }
        hr {
          border-top: 1px solid var(--color-std);
          height: 0.5px;
          width: 100%;
          color: transparent;
        }
        .content {
          color: var(--color-std);
          height: 150px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .listItems {
          display: flex;
          align-items: stretch;
          gap: 5px;
          flex-direction: column;
          margin-top: 5px;
        }
        .listItems .basketItem:nth-child(2n) {
          background-color: #f3f5f5;
        }
        .basketItem {
          display: flex;
          align-items: center;
          gap: 5px;
          padding: 5px 0;

          .counter {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 0.8rem;
            min-width: 50px;
            svg {
              fill: #00cdbd;
            }
          }
          .title {
            text-align: left;
            font-size: 0.8rem;
          }
          .price {
            margin-left: auto;
            text-wrap: nowrap;
          }
        }
        .subTotal,
        .livraison,
        .total {
          display: flex;
          justify-content: space-between;
        }
        .total {
          font-weight: 600;
          color: rgb(38, 38, 38);
        }
      }
    }
  }
  main .categories {
    padding: 0;
  }
}
@media (width > 884px) {
  #root > header {
    padding-left: 1rem;
  }
  .banner {
    padding: 1.5rem 0;
    display: flex;
    gap: 30px;
    img {
      border-radius: 5px;
      order: 2;
      flex-shrink: 0;
      width: 350px;
      min-width: 350px;
      margin-right: 1rem;
    }
    dd {
      padding-left: 0rem;
      padding-top: 0;
      p {
        font-size: 19px;
      }
    }
  }
}
@media (width > 1124px) {
  main .categories .categorie .listRestoCards {
    flex-direction: row;
    flex-wrap: wrap;
    & > li {
      flex: 1;
      min-width: 300px;
      max-width: calc(50% - 20px);
    }
    .restoCard {
      font-size: 1rem;
      height: 160px;
    }
  }
}
