* {
  transition: all 0.3s ease-in-out;
}
:root {
  font-size: clamp(16px, 2.5vw, 18px);
  --color-std: rgb(134, 138, 138);
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  font-family: sans-serif;
  .app > header {
    display: flex;
    justify-content: flex-start;
    height: 3.4rem;
    border-bottom: 1px solid lightgray;
    padding: 0.5rem 1rem;
  }
}

.banner {
  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  dd {
    padding: 2rem;
    display: block;
    h3 {
      font-weight: 600;
      font-size: 1.3rem;
    }
    p {
      color: var(--color-std);
      padding-top: 2rem;
      line-height: 1.5rem;
      font-size: 0.9rem;
    }
  }
}

main {
  background-color: #f3f5f5;
  position: relative;
  .categories {
    background-color: #f3f5f5;
    padding: 1rem 1rem;
    h2 {
      font-size: 1.3rem;
      font-weight: 600;
      margin-bottom: 1rem;
      margin-top: 0rem;
    }
    .categorie {
      padding: 10px;
      margin-bottom: 1.5rem;
      .listRestoCards {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .restoCard {
          background-color: white;
          border-radius: 5px;
          display: flex;
          padding: 20px;
          justify-content: space-between;
          header {
            font-size: 1.2rem;
            padding-bottom: 1rem;
          }
          cursor: pointer;
          .desc {
            color: var(--color-std);
          }
          footer {
            display: flex;
            color: var(--color-std);
            padding-top: 1rem;
            align-items: center;
            gap: 30px;
            .price {
              width: 90px;
            }
            .pop {
              color: orange;
              display: flex;
              align-items: center;
              gap: 5px;
            }
          }
          img {
            width: 120px;
            height: 120px;
            object-fit: cover;
            border-radius: 5px;
          }
        }
        .restoCard:hover {
          box-shadow: rgba(46, 51, 51, 0.07) 0px 22px 24px 0px;
        }
      }
    }
  }
  .basket {
    position: sticky;
    bottom: 0px;
    .bottomMsg {
      box-shadow: 0 0 5px lightgray;
      height: 85px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.8rem 1rem;
      background-color: white;
      p {
        background-color: #d3d3d3;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        padding: 1rem 0;
        border-radius: 5px;
        font-size: 0.8rem;
        font-weight: 600;
      }
    }
    .panel {
      display: none;
    }
  }
}
@media (width > 768px) {
  main {
    display: flex;

    .basket {
      min-width: 350px;
      margin-right: 1rem;
      .bottomMsg {
        display: none;
      }
      .panel {
        display: block;
        margin-top: 30px;
        background-color: white;
        padding: 5px;
        border-radius: 5px;
        box-shadow: rgba(46, 51, 51, 0.07) 0px 22px 24px 0px;
        .validate {
          background-color: #bac3c3;
          border-radius: 5px;
          color: #8b9a9b;
          padding: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .content {
          color: var(--color-std);
          height: 200px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
@media (width > 884px) {
  #root > header {
    padding-left: 1rem;
  }
  .banner {
    padding: 1.5rem 0;
    display: flex;
    gap: 20px;
    img {
      border-radius: 5px;
      order: 2;
      flex-shrink: 0;
      width: 350px;
    }
    dd {
      padding-left: 1rem;
      padding-top: 0;
      p {
        font-size: 19px;
      }
    }
  }
}
